{% extends 'base.html' %}


{% block content %}

    <h2>Thank you for your purchase, {{ user.username }}!</h2>
    <p>Your order ID: {{ order.id }}</p>
    <p>Here are the download links for your purchased beats:</p>
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item.beat.title }} by {{ item.beat.producer }}</strong> -
                <a href="{{ item.beat.audio_file.url }}">Download Beat</a>
            </li>
        {% endfor %}
    </ul>
    <p>We hope you enjoy your beats!</p>


    