{% extends 'base.html' %}

{% block content %}
<h2>{{ profile.user }}'s Profile</h2>
<p>Email: {{ profile.user.email }}</p>
<p>Bio: {{ profile.bio }}</p>
<p>Location: {{ profile.location }}</p>
<p>Birth Date: {{ profile.birth_date }}</p>

<h3>Order History</h3>
{% if orders %}
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_number }}</td>
                <td>{{ order.date | date:"M d, Y" }}</td>
                <td>${{ order.grand_total }}</td>
                <td>Instrumentals sent to {{ order.email }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have no past orders.</p>
{% endif %}
{% endblock %}
