body {background-color: black;
    color: #ffffff; 
     
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.custom-toggler {
    border: 1px solid white; 
    background-color: black; 
    padding: 5px; 
}

.custom-toggler .navbar-toggler-icon {
    background-image: none; 
    width: 30px; 
    height: 2px; 
    background-color: white; 
    position: relative;
}

.custom-toggler .navbar-toggler-icon::before
.custom-toggler .navbar-toggler-icon::after {

    position: absolute;
    width: 100%; 
    height: 2px; 
    background-color: white; 
    left: 0;
}

.custom-search-btn {
    color: white; 
    background-color: black; 
    border: 2px solid white; 
    transition: all 0.3s ease; 
}

.custom-search-btn:hover {
    color: black; 
    background-color: white; 
    border-color: black; 
}



.navbar {background-color: black;}
.nav-link {color: white;}

.navbar-nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
.nav-link {
    text-decoration: none; 
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10%;
    transition: color 0.9s ease;
}

.nav-link:hover {
    color: #000000; 
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 8px rgba(255, 84, 84, 0.664); 
    transition: color 0.9s ease, background-color 0.9s ease, box-shadow 0.9s ease; 
    border-radius: 4px; 
}



.audio-div {
    background-color: #333333; 
    color: #ffffff; 
    width: fit-content;
    align-items: center;
}

.cover {
    align-items: center;
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, 0.8); 
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #333333; 
    color: #ffffff; 
    border: 1px solid #444444; 
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7); 
}

.grid-item img.cover {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.grid-item audio {
    margin-top: 10px;
    width: 100%;
}

.grid-item button {
    background-color: #344658; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.grid-item button:hover {
    background-color: #0056b3; 
}


.container-about {
    display: flex; 
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111111; 
    color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.about-photo img {
    max-width: 500px;
    height: auto;
    border-radius: 10%; 
    
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
}

.about-text h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff; 
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #dddddd; 
    margin-bottom: 10px;
}

.faq {text-align: center;}

.faq-section {
    background-color: #111111; 
    color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    padding: 20px; 
    border-radius: 8px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 63%;
    margin: 5px auto;
}

.faq-section .card-header {
    background-color: #161616; 
    border: 1px solid #03030381; 
}

.faq-section .btn-link {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
}

.faq-section .card-body {
    background-color: #222; 
    border-top: 1px solid #2b2b2b; 
}

.faq-section .card-body p {
    color: #ffffff; 
}

.faq-section .card-header h5 {
    font-size: 18px; 
}

.faq-section .card {
    margin-bottom: 10px; 
}



@media (max-width: 768px) {
    .container-about {
        flex-direction: column;
        text-align: center;
    }

    .about-photo img {
        max-width: 120px;
    }
}


.home-page {
    text-align: center;
    padding: 50px;
    background-image: url('/static/imgs/recording-studio.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.home-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.home-page .home {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-page p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.home-page .btn.btn-primary {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #d3d3d3;
    color: rgb(77, 77, 77);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-page .btn.btn-primary:hover {
    background-color: #ffffff;
    color: black;
    transition: color 0.3s ease;
}


.testimonials-section {
    padding: 50px;
    background-color: #00000025;
    text-align: center;
}

.testimonials-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.testimonial {
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.testimonial .quote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
    color: #ffffff;
}

.testimonial .author {
    font-size: 1rem;
    font-weight: bold;
    color: #dddddd;
}


.featured-songs-section {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
}

.featured-songs-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #000000;
}

.featured-songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.song {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
}

.song img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.song h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #000000;
}

.song p {
    font-size: 1rem;
    color: #292929;
}



.contact-form-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}


.contact-form-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}


.contact-form-section form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.contact-form-section .form-group {
    margin-bottom: 20px;
    text-align: left;
}


.contact-form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
    color: #555;
}



.contact-form-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-form-section input:focus,
.contact-form-section textarea:focus {
    border-color: #007bff;
}


.contact-form-section button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form-section button:hover {
    background-color: #0056b3;
}


.purchased-beats-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 800px;
}


.purchased-beats-title {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}


.purchased-beats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 0;
    list-style: none;
}


.purchased-beat-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.purchased-beat-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}


.beat-cover {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}


.beat-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}


.toggle-details {
    background: none;
    border: none;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

.toggle-details:hover {
    color: #0011ff;
}


.beat-details {
    color: #000;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    display: none;
}




.download-link {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.download-link:hover {
    color: #218838;
}


.no-download {
    color: #dc3545;
    font-style: italic;
}

    .profile-nav {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 15px; 
        margin-bottom: 20px;
        margin-top: 20px; 
    }

    .nav-link-profile {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .nav-link-profile:hover {
        background-color: #000000;
        color: white;
    }


    #order-history-list {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        position: relative;
        left: 50%;
        transform: translateX(-50%); 
        width: 80%;
        margin: 0 auto; 
    }
    

        .producer-card {
            background-color: #000000;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }
        .producer-name {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }
        .producer-info {
            font-size: 16px;
            margin-top: 10px;
        }
        .producer-info span {
            font-weight: bold;
        }

