<div class="nav-item dropdown position-relative">
    <a href="{% url 'view_cart' %}" class="nav-link dropdown-toggle" id="cartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-cart"></i> Cart
        <p>{{ total_quantity }}</p>
        <p>${{ total_price }}</p>
        {% if cart_item_count > 0 %}
            <span class="badge badge-danger position-absolute" style="top: -5px; right: -10px;">{{ cart_item_count }}</span>
        {% endif %}
    </a>

    <div class="dropdown-menu" aria-labelledby="cartDropdown">
        {% if cart_items %}
            {% for item in cart_items %}
                <div class="dropdown-item">
                    <p>{{ item.beat.title }} - Quantity: {{ item.quantity }}</p>
                </div>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <p>Total Quantity: {{ total_quantity }}</p>
                <p>Total Price: ${{ total_price }}</p>
                <a href="{% url 'view_cart' %}">Proceed to Checkout</a>
            </div>
        {% else %}
            <div class="dropdown-item">
                <p>Your cart is empty.</p>
            </div>
        {% endif %}
    </div>
</div>
