{% extends 'base.html' %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="{{ user.first_name }}" required>

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="{{ user.last_name }}" required>

    <label for="email">Email</label>
    <input type="email" name="email" value="{{ user.email }}" required>

    <label for="bio">Bio</label>
    <input type="bio" name="bio" value="{{ user.bio }}">

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
{% endblock %}
