{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Available Beats</h1>

{% if is_admin %}
<div style="margin-bottom: 20px;">
    <a href="{% url 'add_beat' %}" class="btn btn-primary">Add New Beat</a>
</div>
{% endif %}
<div class="grid-container">
    {% for beat in beats %}
    <div class="grid-item">
        <img src="{{ beat.cover_image.url }}" alt="{{ beat.title }}" class="cover">
        <h3>{{ beat.title }}</h3>
        <p>By: {{ beat.producer }}</p>
        <p>Price: ${{ beat.price }}</p>
        <audio controls>
            <source src="{{ beat.audio_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        {% if is_admin %}
        <!-- Form for deleting a beat -->
        <form method="POST" action="{% url 'delete_beat' beat.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="color: red;">Delete</button>
        </form>
        <!-- Link to edit a beat -->
        <a href="{% url 'edit_beat' beat.id %}">Edit</a>
        {% endif %}

        <!-- Add to Cart button -->
        <form method="POST" action="{% url 'add_to_cart' beat.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}



